.App-home {
  text-align: center;
}

.nav {
	color: black;
}

.fake-link:hover {
  color: #4b89c7;
  cursor: pointer;
}

.active-item {
	/*background-color: #85cec7;*/
	background-color: #D3D3D3;
	padding: 5px 25px 5px 25px;
	border-radius: 50px;
}

.marker {
  background-image: url('https://cdn4.iconfinder.com/data/icons/maps-and-navigation-solid-icons-vol-1/72/19-512.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


